---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.imgcot {
  padding-right: 100px;
  padding-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgitm {
  display: inline-block;
  flex: 1;
}

